{% if latest_question_list  %}
<!-- primero se pregunta si exsite la varibale latest_question_list -->
    <ul>
        {% for question in latest_question_list %}
        <!-- con esto recorremos todas las preguntas -->
        <li><a href='/polls/{{ question.id }}'>{{ question.question_text }}</a></li>
        <!-- cuando se da click en la pregunta se redirecciona a la vista detail
        y se le pasa el id de la pregunta, la otra parte es para mostrar el texto de la pregunta 
        con esto mostramos el texto de la pregunta -->
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
    